
@{
    ViewData["Title"] = "IndexPost";
}

<h1>IndexPost</h1>

<div>
    <h3>veiwDatax: @ViewData["x"]</h3>
    <h3>TempDatax: @ViewData["globalx"]</h3>
    <h3>veiwDatay: @ViewData["globaly"]</h3>

</div>