
@{
    ViewData["Title"] = "Add";
}

@* <h1>Add</h1>
<div>
    <h3>result : </h3><h2>@ViewData["addResult"]</h2>
</div>
 *@
<h1>calculator</h1>
<div>
    <h3>result : </h3><h2>@ViewData["Result"]</h2>
</div>
